#welcome-form, #chat-room {
    border: 3px solid white;
    box-shadow: 2px 2px red, 
        -2px -2px rgb(0, 183, 255), 
        inset 2px 2px red, 
        inset -2px -2px rgb(0, 183, 255);
    background-image: url(/images/vhs.gif);
    background-size: cover;
    background-position: center;
    display: none;
    margin: 20px auto;
    padding: 30px;
    width: 800px;
}

#messages {
    height: 200px;
    margin: 10px 0;
    padding: 10px;
    overflow-y: auto;
    text-align: left;
    
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 1px 1px red, 
        -1px -1px rgb(0, 183, 255), 
        inset 1px 1px red, 
        inset -1px -1px rgb(0, 183, 255);
    background-color: black;
}

body {
    font-family: monospace;
    font-weight: 400;
    background-image: url(/images/retrowave.jpg!d);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    border-radius: 30px 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

h1, h2, h3, h4, h5 {
    font-family: "VT323", monospace;
    font-weight: 400;
    color: white;
    text-align: center;
    text-shadow: 1px 1px red, -1px -1px rgb(0, 183, 255);
}

input {
    font-family: monospace;
    font-weight: 400;
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
    box-shadow: 1px 1px red, 
        -1px -1px rgb(0, 183, 255), 
        inset 1px 1px red, 
        inset -1px -1px rgb(0, 183, 255);
    color: white;
    height: 20px;
    padding: 5px;
    width: 100%;
}

button {
    height: 32px;
    font-family: monospace;
    font-weight: 400;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 1px 1px red, 
        -1px -1px rgb(0, 183, 255), 
        inset 1px 1px red, 
        inset -1px -1px rgb(0, 183, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
    width: fit-content;
    padding: 5px 15px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    margin-left: -5px;
}

button:hover {
    background-color: rgb(209, 209, 209);
    color: rgb(0, 0, 0);
    cursor: pointer;
}

button:active {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.sair {
    margin-left: 5px;
}

.chat-room #messages {
    display: flex;
    flex-direction: column;
}

.enviar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
